# Environment variables (SENSITIVE)
.env

# Text files (Optional, if you have local notes)
*.txt
!requirements.txt

# Database (SENSITIVE)
*.db
*.sqlite
*.sqlite3
majelis.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
env/
.env/

# IDE settings
.vscode/
.idea/
